<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="hank" class="com.springinaction.springidol.impl.OneManBand">
    	<property name="instruments">
    		<props>
    			<prop key="GUITAR">STRUM STRUM</prop>
    			<prop key="CYMBAL">CRASH CRASH</prop>
    			<prop key="HARMONICA">HUM HUM</prop>
    		</props>
    	</property>
    	
    </bean>
    
    <bean id="theStage" class="com.springinaction.springidol.impl.Stage" factory-method="getInstance"></bean>

	<bean id="audience" class="com.springinaction.springidol.impl.Audience"></bean>
	
	<aop:config>
		<aop:aspect ref="audience">
			<aop:pointcut expression="execution(* com.springinaction.springidol.*.perform(..))" 
						  id="performance"/>
			<aop:before 
				method="takeSeats"
				pointcut-ref="performance"/>
				
			<aop:before 
				method="turnOffCellPhones"
				pointcut-ref="performance"/>
				
			<aop:after-returning 
				method="applaud"
				pointcut-ref="performance"/>
			
			<aop:after-throwing 
				method="demandRefund"
				pointcut-ref="performance"/>
		</aop:aspect>
	</aop:config>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
</beans>
